<!DOCTYPE html>
<html>
   <head>
   <title>Index page</title>
   <style>
   button {
      text-align: center;
      font-size: 20px;
      height: 75px;
      width: 75px;
   }
   </style>
   </head>
   <body>
      <h1> {{input}} </h1>
      <Form method="POST">
         <button type="submit" name="calc" value="1">1</button>
         <button type="submit" name="calc" value="2">2</button>
         <button type="submit" name="calc" value="3">3</button>
         <button type="submit" name="calc" value="C">C</button><br>
         <button type="submit" name="calc" value="4">4</button>
         <button type="submit" name="calc" value="5">5</button>
         <button type="submit" name="calc" value="6">6</button>
         <button type="submit" name="calc" value="+">+</button><br>
         <button type="submit" name="calc" value="7">7</button>
         <button type="submit" name="calc" value="8">8</button>
         <button type="submit" name="calc" value="9">9</button>
         <button type="submit" name="calc" value="-">-</button><br>
         <button type="submit" name="calc" value="0">0</button>
         <button type="submit" name="calc" value="*">*</button>
         <button type="submit" name="calc" value="/">/</button>
         <button type="submit" name="calc" value="=">=</button><br>
         <button type="submit" name="calc" value="(">(</button>
         <button type="submit" name="calc" value=")">)</button>
         <button type="submit" name="calc" value="sin(">sin</button>
         <button type="submit" name="calc" value="tan(">tan</button><br>
         <button type="submit" name="calc" value="cos(">cos</button>
         <button type="submit" name="calc" value="log(">log</button>
         <button type="submit" name="calc" value="sqrt(">sqrt</button>
         <button type="submit" name="calc" value="CE">CE</button><br>
         <button type="submit" name="calc" value="<"><</button><br>
         <button type="submit" name="calc" value=">">></button><br>
      </Form>
   </body>
</html>
